html{
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  width: 70%;
  height: 100%;
  margin: 10vh 0 10vh 0;
  border: 3px solid #E88D72;
  border-radius: 8px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0 10vh 0;
}

.restaurant_div{
  width: 80%;
  height: auto;
  align-self: center;
  margin: 4vh 0 4vh 0;
  border-bottom: 1px solid #E88D72;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant_info{
  width: 40%;
  height: 100%;
  align-self: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FF8F62;
  font-family: Novecentosanswide;
}

.restaurant_info h2{
  margin: 3vh 0 3vh 0;
  font-size: 1.8rem;
}


.restaurant_buttons{
  width: 40%;
  height: 100%;
  align-self: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh 3vw 0 0;
}

.button{
  width: 8vw;
  height: 7vh;
  background-color: #E88D72;
  opacity: 1;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: Novecentosanswide;
  font-size: 1.2rem;
  cursor: pointer;
}
.button:hover{
  opacity: 0.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a45c40;
}
header {
  width: 100%;
}
header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #c38370;
}

header .active {
  background-color: #e4b7a0;
}

